<div id="menu-container">
	<div class="container-fluid" id="hero-menu">
		<span>
			Fuel your flame
		</span>
	</div>
  <div class="top-homepage center">
  	<button class="buttondrp dropbtn1" onclick="scrollToPizzas();">Pizzas</button>
  	<button class="buttondrp dropbtn2" onclick="scrollToSalads();">Salads</button>
  	<button class="buttondrp dropbtn2" onclick="scrollToDesserts();">Desserts</button>
	</div>
	<div class="container" id="pizzas-container">
		<div class="cito-row-title">
			<span class="col">Pizzas</span>
		</div>
		<div class="row" >
			<div class="col-lg-7 menu-headliner">
				<span> Try one of our Bonfire Signature combinations </span>
				<p>
					We have 10 combos that look so good you won't know which one to pick. In the mood for one or more other toppings?
					Create your own custom pizza the way you want with options of over 20 ingridients.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="row" id="row-of-pizzas">
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="https://cdn.modpizza.com/wp-content/uploads/2016/11/mod-pizza-dillon-james-default-e1479167474510.png" alt="Maddy">
									<span>Pizza Margarita</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_1}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="https://cdn.modpizza.com/wp-content/uploads/2016/11/mod-pizza-jasper-default-e1479167423363.png" alt="Maddy">
									<span>Gulf Coast Chicken Gumbo</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_2}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="https://cdn.modpizza.com/wp-content/uploads/2016/11/mod-pizza-dominic-default-e1479168048226.png" alt="Maddy">
									<span>Rustico Chicken</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_3}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="https://cdn.modpizza.com/wp-content/uploads/2016/11/mod-pizza-caspian-default-e1479167513823.png" alt="Maddy">
									<span>Bonfire BBQ Chicken</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_3}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="/static/images/modpizza.png" alt="Maddy">
									<span>Vegi Pesto</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_2}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
				<div class="col-lg-4 col-md-7 center">
							<div class="col-lg-12">
								<div class="menu-item__title-box">
									<img src="https://cdn.modpizza.com/wp-content/uploads/2016/11/mod-pizza-mad-dog-e1479167997381.png" alt="Maddy">
									<span>Italian Sausage</span>
								</div>
								<div class="ingredients__copy">
									<p>{{ingredient_1}}</p>
								</div>
								<div class="menu-item__ingredients"></div>
							</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="salads-container">
		<div class="cito-row-title">
			<span class="col">Salads</span>
		</div>
		<div class="row" >
			<div class="col-lg-7 menu-headliner">
				<span> Fresh and Delicious </span>
				<p>
					Try one of our fresh special salads, or create your own!
				</p>
			</div>
		</div>
		<div class="container" style="">
			<div class="row">
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/caesar.jpg" width="260"/>
						<br />
						<span class="col-lg-12">Caesar Salad</span>
						<p class="col-lg-8">
							{{ ingredient_1 }}
						</p>
					</div>
				</div>
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/caesar.jpg" width="260"/>
						<br />
						<span class="col-lg-12">House Greens</span>
						<p class="col-lg-8">
							{{ ingredient_2 }}
						</p>
					</div>
				</div>
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/caesar.jpg" width="260"/>
						<br />
						<span class="col-lg-12">Custom</span>
						<p class="col-lg-8">
							Let your mind wander and create your customized salad
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="desserts-container">
		<div class="cito-row-title">
			<span class="col">Desserts</span>
		</div>
		<div class="row" >
			<div class="col-lg-7 menu-headliner">
				<span> Baked Pizza Treats </span>
				<p>
					Feed that sweet tooth with one of our delicious baked desserts.
				</p>
			</div>
		</div>
		<div class="container" style="">
			<div class="row">
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/bonfire/image2_1.jpeg" width="260"/>
						<br />
						<span class="col-lg-12">Fruit Parfait Pizza</span>
						<p class="col-lg-8">
							{{ingredient_4}}
						</p>
					</div>
				</div>
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/bonfire/image6_1.jpeg" width="260"/>
						<br />
						<span class="col-lg-12">Smores</span>
						<p class="col-lg-8">
							{{ingredient_5}}
						</p>
					</div>
				</div>
				<div class="col bord">
					<div class="col-lg-12" class="bord-content">
						<img src="/static/images/bonfire/image5_1.jpeg" width="260"/>
						<br />
						<span class="col-lg-12">Dough Bites</span>
						<p class="col-lg-8">
							{{ingredient_6}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>